.App {
  text-align: center;
}

.container {
  display: flex;
  height: 100vh;
  width: 150px;
}

.box {
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 100px;
}

.flex1 {
  background-color: #1e90ff;
  flex: 1;
}

.flex2 {
  background-color: #32cd32;
  flex: 2;
}

.flex3 {
  background-color: #ff6347;
  flex: 3;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
